:root {
  --font: Book Antiqua, Georgia, serif;
  --splashcolor: #646405;
  --text: #333333;
  --textsecondary: #4d4d4d;
  --invertedtext: #ffffff;
  --header_bg: #ffffff;
  --light_bg: #f4f4f4;
  --dark_bg: #800420;
  --colorpop: #646405;
  --alert: #cc0000;
}

/* Screen CSS */
:root {
  font-size: 18px;
}

body {
  line-height: 1.5;
  font-family: helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  color: var(--text);
}

[id=presentation] {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  display: block;
  overflow: hidden;
  background-color: var(--dark_bg);
}

[id=info] {
  font-size: small;
  position: absolute;
  bottom: 0px;
  left: 40%;
  z-index: 500;
}
[id=info] > *, [id=info] a {
  color: var(--invertedtext);
}

[id=topinfo] {
  font-size: small;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 500;
}

.notes {
  display: none;
}

.slides {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  display: block;
  transition: transform 1s ease-in-out;
  transform: scale(0.8);
}

.counter {
  color: var(--splashcolor);
  font-size: 70%;
  letter-spacing: 1px;
  position: absolute;
  bottom: 5%;
  left: 50%;
  width: 1vw;
  text-align: center;
}

.far-future.object object {
  display: none;
}

object:not([data*=http]) {
  margin-top: 3em;
}

.slide.far-past {
  display: block;
  margin-left: -240vw;
}
.slide.past {
  visibility: visible;
  display: block;
  margin-left: -140vw;
}
.slide.current {
  visibility: visible;
  display: block;
  margin-left: -46vw;
}
.slide.future {
  visibility: visible;
  display: block;
  margin-left: 48vw;
}
.slide.far-future {
  display: block;
  margin-left: 150vw;
}

nav button {
  z-index: 1000;
  position: absolute;
  top: 0;
  padding: 10px 20px;
  font-size: 90%;
  color: var(--invertedtext);
  background-color: var(--colorpop);
  border: none;
  -webkit-appearance: none;
  appearance: none;
}

nav ul {
  list-style-type: none;
}

#next {
  right: 0;
  padding: 10px 0 40px 50px;
  background: radial-gradient(ellipse at 100% 20%, var(--colorpop) 48%, transparent 48%);
}
#next:hover, #next:focus {
  background: radial-gradient(ellipse at 100% 20%, var(--colorpop) 48%, var(--invertedtext) 48%, 52%, var(--dark_bg) 52%, 54%, transparent 54%);
}

#back {
  left: 0;
  padding: 10px 50px 40px 0px;
  background: radial-gradient(ellipse at 0% 20%, var(--colorpop) 48%, transparent 48%);
}
#back:hover, #back:focus {
  background: radial-gradient(ellipse at 0% 20%, var(--colorpop) 48%, var(--invertedtext) 48%, 52%, var(--dark_bg) 52%, 54%, transparent 54%);
}

.slide {
  visibility: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  box-sizing: border-box;
  overflow: hidden;
  min-width: 900px;
  width: 90vw;
  min-height: 700px;
  height: calc(100vh - 50px);
  margin-top: -48vh;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 3px;
  transition: all 0.25s ease-in-out;
  transform: scale(1);
  padding-left: 20px;
  padding-top: 10px;
  background-color: var(--light_bg);
}
.slide li {
  margin-bottom: 10px;
}
.slide img {
  max-height: 90%;
}
.slide p, .slide textarea {
  font-size: 1.4rem;
}

/* Content */
.slide header {
  background-color: var(--header_bg);
  margin: -20px;
  padding: 10px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.slide header h1 {
  margin-bottom: 0px;
  font-family: var(--font);
  font-weight: bold;
  color: var(--splashcolor);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.slide header h2 {
  font-size: 90%;
}
.slide header h1:first-child {
  margin-top: 0;
}

.intro p, header {
  text-align: center;
}

.intro header,
.divider header {
  font-size: 2.2rem;
}

.intro h2 {
  text-align: center;
  padding: 100px;
  font-size: 1.8rem;
  font-family: var(--font);
}

style[class~=editme i] {
  border: 1px solid var(--colorpop);
  padding: 5px 20px;
  margin-bottom: 1em;
}

pre, style[class~=editme i] {
  text-align: left;
  font-size: 1.2em;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  text-shadow: none;
  white-space: pre;
  border: 1px solid var(--splashcolor);
  font-family: monospace;
}

section .editme:first-child {
  margin-top: 1.7em;
}

style.editme.mini {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1em;
}

code {
  background: rgba(255, 255, 255, 0.3);
  text-shadow: none;
}
code.pre {
  padding: 2px 4px;
  border-radius: 4px;
  font-size: 1em;
  text-shadow: none;
}

.current .editme,
.future .editme,
.past .editme {
  display: block;
}

pre b {
  font-weight: bold;
  color: var(--splashcolor);
  display: inline-block;
}
pre b:hover {
  transform: scale(1.2);
  color: var(--splashcolor);
}
pre em {
  font-weight: normal;
  font-style: normal;
  color: var(--splashcolor);
  text-shadow: currentColor 0 0 1px;
}
pre a {
  text-decoration: underline dotted var(--lightsplash);
}
pre a:hover, pre a:active, pre a:focus {
  text-decoration: underline dotted var(--splashcolor);
}

code i {
  opacity: 50%;
}

pre.multi {
  text-align: center;
}

.code {
  color: var(--text);
  font-size: 85%;
  background-color: rgba(255, 255, 255, 0.4);
  transition: all 2s ease-in 50ms;
}

.code:hover {
  color: var(--splashcolor);
  background-color: rgba(255, 255, 255, 0.9);
}

.code:not(.code2):hover {
  font-size: 140%;
}

.code2:hover {
  transform: scale(1.2);
  transform-origin: top left;
}

.codelike li {
  white-space: pre;
  font-family: monospace;
}

.content {
  font-size: 1.4rem;
}

.content input, button {
  font-size: 120%;
}

.content td {
  border: 1px solid;
}

section, footer {
  text-shadow: rgba(0, 0, 0, 0.2) 0 2px 5px;
  margin: 20px 30px 0;
  display: block;
  overflow: hidden;
}

footer {
  font-size: 100%;
  margin: 20px 0 0 30px;
}

a, em {
  color: var(--splashcolor);
  font-style: normal;
}

a {
  text-decoration: underline dotted var(--lightsplash);
}
a:hover, a:focus {
  text-decoration: underline dotted;
}

.imp li,
b.imp {
  transition: all 0.2s ease-in;
}

.imp li:hover,
b.imp:hover {
  transform: scale(1.2);
  color: var(--splashcolor);
  transform-origin: left;
}

section.content {
  max-height: calc(94vh - 3.5em);
  overflow-y: scroll;
}

.twopart {
  display: flex;
  justify-content: space-around;
}

.nope {
  position: relative;
}

.nope::after {
  content: "";
  height: 100px;
  width: 100px;
  background: radial-gradient(circle, transparent 0 42%, red 43% 57%, transparent 58%), linear-gradient(45deg, transparent 0 44%, red 45% 55%, transparent 56%) no-repeat center;
  background-size: 100% 100%, 50% auto;
  top: 0;
  right: 0;
  position: absolute;
}

strike {
  text-decoration-color: var(--alert);
}

@media print {
  .slide {
    page-break-inside: avoid;
    page-break-after: always;
    visibility: visible !important;
    font-size: 20pt;
    font-family: Arial, sans-serif;
  }

  @page {
    size: landscape;
  }
  body {
    font-size: 12pt;
    background: white;
  }

  header h1 {
    border-top: 2pt solid gray;
    border-bottom: 1px dotted silver;
  }

  #presentation-counter, #info, #topinfo, .counter, .notes {
    display: none;
  }
}
/* OBJECT PAGES */
.object header {
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  left: 0;
}

.object:not[onclick] header {
  pointer-events: none;
}

.objectlink {
  position: absolute;
  top: 0;
  right: 5em;
  color: var(--invertedtext);
  background-color: var(--colorpop);
  padding: 3px 5px;
  border: 3px solid;
  border-radius: 1em;
}

.slide.object {
  padding: 0;
}

.object object {
  width: 100%;
  height: 100%;
}

.col2, .col3, .col4 {
  column-count: 2;
  padding-left: 0;
}

.col3 {
  column-count: 3;
}

.col4 {
  column-count: 4;
  line-height: 1.12;
}

.flex12 {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.flex12 > * {
  flex: 1;
}

.flex12 > * + * {
  margin-left: 1em;
}

.flex12 article:first-of-type {
  flex: 1;
}

.flex12 article:last-of-type {
  flex: 2;
}
.flex12 article:last-of-type ul {
  column-count: 2;
}

/* definition lists */
dt {
  font-weight: bold;
  margin-top: 0.5em;
  background-color: var(--header_bg);
  display: inline-block;
  margin-bottom: 2px;
  clear: both;
}

dl.inline dt {
  width: 200px;
  float: left;
  text-align: right;
  padding-right: 15px;
  clear: both;
  margin: 0 0 2px 0;
}

.hide_dd dt {
  margin-bottom: 0.5rem;
}
.hide_dd dd {
  display: none;
}
.hide_dd dt:hover + dd {
  display: inherit;
}

.sameline dt {
  float: left;
}

dl dt {
  padding: 0 8px;
  border: 1px solid #ccc;
}

table.standard-table {
  border: none;
  border-spacing: 10px 10px;
  border-collapse: separate;
}
table.standard-table th, table.standard-table td {
  border: none;
  padding: 3px;
  vertical-align: top;
  text-align: left;
}
table.standard-table thead, table.standard-table tr > :first-child {
  background-color: rgba(255, 255, 255, 0.8);
}

.exercisecards ol {
  position: relative;
  left: 3em;
}
.exercisecards figure {
  float: left;
  height: 300px;
  width: 200px;
  margin: 50px;
}
.exercisecards .card {
  width: 200px;
  height: 300px;
  border-radius: 10px;
  margin: auto;
  position: absolute;
  font-size: 0.8em;
  perspective: 600px;
}
.exercisecards .card:hover {
  transition: 1s ease;
}
.exercisecards .back {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
  width: inherit;
  height: inherit;
  border-radius: 10px;
  border: 10px solid #fff;
  text-align: center;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.9);
  transform: rotateX(0deg) rotateY(0deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transition: all 0.4s ease-in-out;
  background: linear-gradient(-45deg, var(--splashcolor) 25%, transparent 25%, transparent 75%, var(--splashcolor) 75%, var(--splashcolor)) 0 0, linear-gradient(-45deg, var(--splashcolor) 25%, transparent 25%, transparent 75%, white 75%, white) 1em 1em, linear-gradient(45deg, var(--splashcolor) 17%, transparent 17%, transparent 25%, var(--splashcolor) 25%, var(--splashcolor) 36%, transparent 36%, transparent 64%, var(--splashcolor) 64%, var(--splashcolor) 75%, transparent 75%, transparent 83%, var(--splashcolor) 83%) 1em 1em;
  background-color: white;
  background-size: 2em 2em;
  background-position: -1em -1em;
}
.exercisecards .card:hover .back {
  z-index: 900;
  transform: rotateY(180deg);
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
}
.exercisecards .card .face {
  float: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 800;
  width: inherit;
  height: inherit;
  background: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transition: all 0.4s ease-in-out;
  border-radius: 10px;
  border: 10px solid #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.9);
}
.exercisecards .card:hover .face {
  z-index: 1000;
  transform: rotateY(0);
}
.exercisecards .card:first-of-type {
  transform: rotate(-5deg);
}
.exercisecards .card:nth-of-type(2):hover {
  transform: rotate(0) translatex(120px);
}
.exercisecards .card:last-of-type {
  transform: rotate(5deg);
}
.exercisecards .card:first-of-type:hover {
  transform: rotate(10deg) translatey(180px);
}
.exercisecards .carda.flipped .back {
  animation: flipme 1s linear forwards;
}
.exercisecards .card[data-type=H],
.exercisecards .card[data-type=D] {
  color: red;
}
.exercisecards .card[data-type=C],
.exercisecards .card[data-type=S] {
  color: black;
}
.exercisecards .card .face {
  font-size: 50px;
  line-height: 300px;
  text-align: center;
}
.exercisecards .card .face:after {
  content: attr(data-value);
  position: absolute;
  top: 10px;
  left: 10px;
  line-height: 20px;
}
.exercisecards .card .face:before {
  content: attr(data-value);
  position: absolute;
  bottom: 10px;
  right: 10px;
  line-height: 20px;
}

@keyframes showme {
  0% {
    background-color: blue;
    transform: rotate(0deg) translate(200px, 0);
  }
  50% {
    background-color: green;
    transform: rotate(22deg) translate(350px, -150px);
  }
  100% {
    background-color: yellow;
    transform: rotate(45deg) translate(500px, -540px);
  }
}
@keyframes flipme {
  0% {
    transform: rotatey(0deg);
  }
  100% {
    transform: rotateY(-180deg);
  }
}
@keyframes unflipme {
  0% {
    transform: rotatey(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

/*# sourceMappingURL=main.css.map */
