
.code {
   color: var(--text);
   font-size: 85%;
   background-color: rgba(255,255,255,0.4);
   transition: all 2s ease-in 50ms;
}
.code:hover {
   color: var(--splashcolor);
   background-color: rgba(255,255,255,0.9);
}
.code:not(.code2):hover {
   font-size: 140%;
}
.code2:hover {
  transform: scale(1.2);
  transform-origin: top left;

}
.codelike li {
	white-space: pre; 
	font-family: monospace; 
}