.col2, .col3, .col4 {
	column-count: 2;
	padding-left: 0;
}
.col3 {
	column-count: 3;
}
.col4 {
	column-count: 4;
	line-height: 1.12;
}
.flex12 {
	display: flex;
	justify-content: space-between;
	gap: 1em;
}
.flex12 > * {
	flex: 1;
}
.flex12 > * + * {
	margin-left: 1em;
}
.flex12 article:first-of-type {
	flex: 1;
}
.flex12 article:last-of-type {
	flex: 2;
	ul {
		column-count: 2;
	}
}