pre {
  text-align: left;
  font-size: 1.2em;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  text-shadow: none;
  border: 1px solid $splashcolor;
  b {
    font-weight: bold;
    color: $splashcolor;
    display:inline-block;
  }
  b:hover {
    transform:scale(1.2);
    color: $splashcolor;
  }

  em {
    font-weight: normal;
    font-style: normal;
    color: $splashcolor;
    text-shadow: currentColor 0 0 1px;
  }
  a {
    text-decoration: underline dotted lighten($splashcolor, 40%);
  }
  a:hover, a:active, a:focus {
      text-decoration: underline dotted lighten($splashcolor, 10%);
  }
}
code i {
  opacity: 50%;
}