style[class~="editme" i]  {
  display: block;
  font-family: monospace; 
  white-space: pre;  
  background-color: #ffffffcc; 
  margin: 100px auto;
  width: 80vw;
  font-family:"Courier New", Courier, monospace;
}