@charset "UTF-8";

:root { 
	--font: 'SanchezSlab Semibold', Georgia, serif;
	--splashcolor: #d926d9;
	--lightsplash: #f7d4f7;
	--text: #333333;
	--textsecondary: #4d4d4d;
	--invertedtext: #ffffff;
	--header_bg: #ffffff;
	--light_bg: #f4f4f4;
	--dark_bg: #570057;
	--colorpop: #d926d9;
}