@charset "UTF-8";

:root { 
  --font: Book Antiqua, Georgia, serif;
  --splashcolor: #646405;
  --text: #333333;
  --textsecondary: #4d4d4d;
  --invertedtext: #ffffff;
  --header_bg: #ffffff;
  --light_bg: #f4f4f4;
  --dark_bg: #800420;
  --colorpop: #646405;
  --alert: #cc0000;
}

@import "presentation";
@import "deck_functionality";
@import "buttons";
@import "slide";
@import "heading";
@import "content";
@import "print";
@import "object";
@import "columns";
@import "lists";
@import "datatable";
@import "ex_cards";