@charset "UTF-8";

:root { 
	--font: Book Antiqua, Georgia, serif;
	--splashcolor: #1a26d9;
	--lightsplash: #c7caf8;
	--text: #333333;
	--textsecondary: #4d4d4d;
	--invertedtext: #ffffff;
	--header_bg: #ffffff;
	--light_bg: #f4f4f4;
	--dark_bg: #1a0057;
	--colorpop: #1a26d9;
}
@import "presentation";
@import "deck_functionality";
@import "buttons";
@import "slide";
@import "heading";
@import "content";
@import "print";
@import "object";
@import "columns";
@import "ex_cards";