@charset "UTF-8";

$font: 'SanchezSlab Semibold', Georgia, serif;
$splashcolor: #7b9894;
$text: #333333;
$textsecondary: #4d4d4d;
$invertedtext: #ffffff;
$header_bg: #ffffff;
$light_bg: #f4f4f4;
$dark_bg: #7b9894;
$colorpop: #A9403A;

@import "presentation";
@import "deck_functionality";
@import "buttons";
@import "slide";
@import "heading";
@import "content";
@import "print";
@import "object";
@import "columns";

@import "styleme";    

.perspective article {
	 display: flex; 
	 justify-content: center;
   div {
     width: 150px; height: 150px; display: inline-block; line-height: 150px; font-size: 50px; background-color:palegoldenrod; margin: 10px; 
     color: #A9403A;
     border: 1px dashed; 
     text-align: center;
     transform: perspective(400px) rotatex(25deg);
   }
   &:last-of-type {
     perspective: 400px;
     div {
       transform: rotatex(25deg);
     }
   }  
}  
.pOrigin article {
   perspective-origin: 0 0;
}

