@charset "UTF-8";

$font: 'SanchezSlab Semibold', Georgia, serif;
$splashcolor: #a8a807;
$text: #333333;
$textsecondary: #4d4d4d;
$invertedtext: #ffffff;
$header_bg: #ffffff;
$light_bg: #f4f4f4;
$dark_bg: #eeee1f;
$colorpop: #a8a807;

@import "presentation";
@import "deck_functionality";
@import "buttons";
@import "slide";
@import "heading";
@import "content";
@import "print";
@import "object";
@import "columns";
@import "lists";

table.standard-table {
	border: none;
	border-spacing: 10px 10px;
	border-collapse: separate; 
	th, td {
		border: none;
		padding: 3px;
		vertical-align: top;
		text-align: left;
	 }
	thead, tr > :first-child {
		background-color: rgba(255,255,255,0.8);

	}
}
dl dt { padding: 0 5px; }