@charset "UTF-8";
/* CSS Document */

/* the container */
figure {
  height: 300px;
  width: 200px;
  position: relative;
}
/* all the cards */
.card {
  height: 300px;
  width: 200px;
  position: relative;
  top: 0;
  left: 0;
}
.back,
.face {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right:0;
}
/*just to test */
.card, .back, .face {outline: 1px dashed blue;}
/* backs of the cards */
.back {

}
/* card faces */
.face {
  font-size: 2em;
}
.face::before {
  content: attr(data-value);
  position: absolute;
  top: 10px;
  left: 10px;
}
.face::after {
  content: attr(data-value);
  position: absolute;
  bottom: 10px;
  right: 10px;
}
/* first, second, and last card */
.card:first-of-type {

}
.card:nth-of-type(2) {

}
.card:last-of-type {

}
/* faces of first, second and last cards */
.card:first-of-type .face {

}
.card:nth-of-type(2) .face {

}
.card:last-of-type  .face {
  
}
/* red cards */
[data-type="H" i],
[data-type="D" i] {
   color: red;
 }
/* black cards */
[data-type="C" i],
[data-type="S" i] {
   color: black;
 }
/* hovered card */
.card:hover {

} 