.flex12 {
	display: flex;
}
.flex12 article:first-of-type {
	flex: 1;
}
.flex12 article:last-of-type {
	flex: 2;
	ul {
		column-count: 2;
	}
}
ul.col3 {
	column-count: 3;
}

ul.col2 {
	column-count: 2;
}
.flex12, .col3, .col2 {
	padding-left: 0;
	li {
		list-style-type: none;
	}
}