@charset "UTF-8";
/* CSS Document */

@import "variables";

//@import "decknavigation";
//@import "key";
//@import "code";
//@import "presentation";
//@import "slides";
//@import "print";
//@import "counter";
//@import "responsive";
@import "object";
@import "content";
@import "lists";
@import "columns";

@import "structural";
@import "fakeflex";
@import "uiselectors";
@import "firstletter";
@import "selection";
@import "generatedContent1";

i {opacity: 0.5;}
.matchesOfSelector {
	:nth-child(3 of li.foo) {
		color: $hilite;
	}
	li.foo:nth-child(3) {
		color: $hilite2;
	}
}