
[contenteditable] {
	-webkit-user-modify: read-write-plaintext-only;
}

head, style {
	display: block;
}
head * {visibility:hidden;}
head style[id="editme" i],
head style[class="editme" i] {
	visibility: visible;
} 
html, body {margin: 0;}
body {
	font-size: 1.75em;
	padding: 0 1em;
}
style[id="editme" i],
style[class="editme" i]  {
	padding: 20px; 
	font-size: 1.5em; 
	font-family: monospace; 
	white-space:pre; 
	border-radius: 10px; 
	border: 3px solid #aaa; 
	background-color:#dedede; 
	margin: 0 auto;
	width: 90vw;
	font-family:"Courier New", Courier, monospace;
}
section style {
	display: block;
}