
header {
	font-weight: normal;
	letter-spacing: -.05em;
	text-shadow: rgba(0, 0, 0, 0.2) 0 2px 5px;
	font-size: 140%;
}
body > header {
	position: absolute;
	bottom: 0;
	width: 100vw
}
h1 {
	font-size: 140%;
	margin-bottom: 0px;
}
h2 {
	font-size: 90%;
}
h1:first-child {
	margin-top: 0;
}
section, footer {
	text-shadow: rgba(0, 0, 0, 0.2) 0 2px 5px;
	margin: 20px 30px 0;
	display: block;
	overflow: hidden;
}
footer {
	font-size: 100%;
	margin: 20px 0 0 30px;
}
section footer, 
.slide footer {
	font-size: 22px;
	margin: 20px 0 0 30px;
}
section footer {
	text-align: right;
	position: absolute;
	bottom: 10px;
	width: 800px;
}
a {
	color: inherit;
	display: inline-block;
	text-decoration: dotted 1px;
	line-height: 110%;
}
a:hover {
	text-decoration: underline;
}
div.example {
	display: block;
	padding: 10px 20px;
	background: rgba(255, 255, 255, 0.4);
	border-radius: 8px;
	margin-bottom: 10px;
	border: 1px solid rgba(0, 0, 0, 0.2);
}
video {
	border-radius: 8px;
	border: 1px solid rgba(0, 0, 0, 0.2);
}
.active {
  color: red; 
  font-weight: bold; 
  background-color: rgba(0,0,0,0.3);
}

section.twopart {
	display: flex;
	justify-content: space-between;
}
.wrong {
	opacity: 0.3;
}

input[type="checkbox"]:indeterminate + label {
  color: blue;
}